.display-transactions {
  flex: 1;
  margin: 1rem;
  background-color: #a6a6a6;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: relative;
}

.display-transactions__scroll-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  margin-left: 1rem;
}

.display-transactions__transaction {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
